/* here you can put your own css to customize and override the theme */
body{   
    background-color: #ececec;   
/*    background-color: #F6F6F6;*/
}
.page-content{
    background-color: #FAFAFA;
}
.page-sidebar{
    background-color: #ececec; 
}
span.error{color:#e73d4a;}
.login .logo{
    margin: 0px;
}
.page-header.navbar{
    background-color: #efd540;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle > .username{
    color: #fff;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown.open .dropdown-toggle{
    background-color: #efd540 !important;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle:hover{
    background-color: #e4cd45 !important;
}
.page-header.navbar .page-logo{
    padding-right: 0px;
}
.page-header.navbar .menu-toggler.sidebar-toggler{
    margin-top: 13px;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a, .page-sidebar .page-sidebar-menu > li.active > a, .page-sidebar .page-sidebar-menu > li.active.open > a{
    background-color: #efd540;
}

#row-brand, #row-kendaraan, #row-kategori, #row-kurir, #row-flavor, #row-level, #row-produk, #row-areaPenjualan, #row-sub-brand, #row-sub-kategori, #row-supplier, #row-target, #row-pengguna, #row-vendor, #row-areaGudang, #row-warmut, #row-hutang, #row-penyetoran-kasir, #row-pendapatan-agen, #row-other-income, #row-jurnal{
    display: none;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a:hover, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a:hover, .page-sidebar .page-sidebar-menu > li.active > a:hover, .page-sidebar .page-sidebar-menu > li.active.open > a:hover{
    background-color: #e4cd45;
}

.img-logo{width: 140px;}

.page-sidebar .page-sidebar-menu .sub-menu > li.active > a {
    background: #DDDDDD !important;
}
.circle-tile {
    margin-bottom: 15px;
    text-align: center;
}
.circle-tile-heading {
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 100%;
    color: #FFFFFF;
    height: 80px;
    margin: 0 auto -40px;
    position: relative;
    transition: all 0.3s ease-in-out 0s;
    width: 80px;
}
.circle-tile-heading .fa {
    line-height: 80px;
}
.circle-tile-content {
    padding-top: 50px;
}
.circle-tile-number {
    font-size: 26px;
    font-weight: 700;
    line-height: 1;
    padding: 5px 0 15px;
}
.circle-tile-description {
    text-transform: uppercase;
}
.circle-tile-footer {
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(255, 255, 255, 0.5);
    display: block;
    padding: 5px;
    transition: all 0.3s ease-in-out 0s;
}
.circle-tile-footer:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}
.circle-tile-heading.dark-blue:hover {
    background-color: #2E4154;
}
.circle-tile-heading.green:hover {
    background-color: #138F77;
}
.circle-tile-heading.orange:hover {
    background-color: #DA8C10;
}
.circle-tile-heading.blue:hover {
    background-color: #2473A6;
}
.circle-tile-heading.red:hover {
    background-color: #CF4435;
}
.circle-tile-heading.purple:hover {
    background-color: #7F3D9B;
}
.tile-img {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.9);
}

.dark-blue {
    background-color: #34495E;
}
.green {
    background-color: #16A085;
}
.blue {
    background-color: #2980B9;
}
.orange {
    background-color: #F39C12;
}
.red {
    background-color: #E74C3C;
}
.purple {
    background-color: #8E44AD;
}
.dark-gray {
    background-color: #7F8C8D;
}
.gray {
    background-color: #95A5A6;
}
.light-gray {
    background-color: #BDC3C7;
}
.yellow {
    background-color: #F1C40F;
}
.text-dark-blue {
    color: #34495E;
}
.text-green {
    color: #16A085;
}
.text-blue {
    color: #2980B9;
}
.text-orange {
    color: #F39C12;
}
.text-red {
    color: #E74C3C;
}
.text-purple {
    color: #8E44AD;
}
.text-faded {
    color: rgba(255, 255, 255, 0.7);
}
.panel-portal{
    position: relative;
    top: -28px;
    right: 35px;
    border-radius: 0px;
    height: 209px;
    width: 341px;   
}

table tbody .expanding {
    cursor: pointer;
}

table tbody .expanding:before {
    font-family: FontAwesome;
    content: "\f0fe";
}

table tbody .expanding.shown:before {
    font-family: FontAwesome;
    content: "\f146";
}
